body {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  background: url("img/background/5d6281fe5abe9f9406f33e1e117b159b.jpg")
    no-repeat;
  background-size: 100%;
}

h2 {
  font-size: 22px;
}

.card {
  width: 700px;
  margin: 30px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgb(184, 181, 181);
}

.avatar {
  display: block;
  width: 180px;
  margin: 0 auto;
  border-radius: 50%;
}

.card-title {
  font-size: 30px;
  text-align: center;
}

footer {
  font-size: 14px;
  text-align: center;
}

.code-sample {
  background-color: #b7e9b35c;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin-left: 0px;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.scale {
  border: 0;
  transition: 0.35s;
}

.scale:hover {
  transform: scale(1.1);
}
